<p style="color: green"><%= notice %></p>

<h1>Analytics</h1>

<div id="analytics">
  <% @analytics.each do |analytic| %>
    <%= render analytic %>
    <p>
      <%= link_to "Show this analytic", analytic %>
    </p>
  <% end %>
</div>

<%= link_to "New analytic", new_analytic_path %>
